Django==4.2.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-cors-headers==4.1.0
requests==2.31.0
boto3==1.26.160
django-storages==1.13.2
psycopg2-binary==2.9.6
sentry-sdk==1.26.0
moviepy==1.0.3
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0
black==23.7.0
gunicorn==20.1.0
whitenoise==6.5.0