{% load static %}

<div style="max-width:500px;">
  <img src="https://vridge-front.s3.ap-northeast-2.amazonaws.com/static/gif.gif" />
  <h3 style="font-size: 30px; font-weight: bold"><span style="color:#0058da;">VLANET</span>에 이주하신 것을 환영합니다!</h3>
  <div style="font-size: 20px; line-height: 1.5">
    '{{name}}' 프로젝트에 초대합니다.<br/>
    아래 버튼을 눌러 프로젝트에 참여할 수 있습니다.
    <a style="display:block; margin:15px 0; padding:20px 0; text-align:center; background:#0058da; text-decoration:none; color:#fff;" href="{{url}}?uid={{uid}}&token={{token}}">프로젝트 참여하기</a>
      멋진 콘텐츠 여행 되시기 바랍니다
  </div>
</div>